<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.ssm.mapper.InReGoodsMapper" >
  <resultMap id="BaseResultMap" type="org.java.ssm.entity.InReGoods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="in_amount" property="inAmount" jdbcType="INTEGER" />
    <result column="in_re_code" property="inReCode" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_id, in_amount, in_re_code, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from in_re_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from in_re_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.java.ssm.entity.InReGoods" >
    insert into in_re_goods (id, goods_id, in_amount, 
      in_re_code, remark)
    values (#{id,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{inAmount,jdbcType=INTEGER}, 
      #{inReCode,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.java.ssm.entity.InReGoods" >
    insert into in_re_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="inAmount != null" >
        in_amount,
      </if>
      <if test="inReCode != null" >
        in_re_code,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="inAmount != null" >
        #{inAmount,jdbcType=INTEGER},
      </if>
      <if test="inReCode != null" >
        #{inReCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.java.ssm.entity.InReGoods" >
    update in_re_goods
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="inAmount != null" >
        in_amount = #{inAmount,jdbcType=INTEGER},
      </if>
      <if test="inReCode != null" >
        in_re_code = #{inReCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.java.ssm.entity.InReGoods" >
    update in_re_goods
    set goods_id = #{goodsId,jdbcType=INTEGER},
      in_amount = #{inAmount,jdbcType=INTEGER},
      in_re_code = #{inReCode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>