<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.ssm.mapper.SysDeptMapper" >
  <resultMap id="BaseResultMap" type="org.java.ssm.entity.SysDept" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="suppercode" property="suppercode" jdbcType="VARCHAR" />
    <result column="rank" property="rank" jdbcType="INTEGER" />
    <result column="pycode" property="pycode" jdbcType="VARCHAR" />
    <result column="property" property="property" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="isStop" property="isstop" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name, suppercode, rank, pycode, property, remark, isStop
  </sql>
  
  <select id="findAllSysDept" resultType="org.java.ssm.entity.SysDept">
  	select *from sys_dept
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_dept
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_dept
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  
  <insert id="insert" parameterType="org.java.ssm.entity.SysDept" >
    insert into sys_dept (id, code, name, 
      suppercode, rank, pycode, 
      property, remark, isStop
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{suppercode,jdbcType=VARCHAR}, #{rank,jdbcType=INTEGER}, #{pycode,jdbcType=VARCHAR}, 
      #{property,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{isstop,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="org.java.ssm.entity.SysDept" >
    insert into sys_dept
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="suppercode != null" >
        suppercode,
      </if>
      <if test="rank != null" >
        rank,
      </if>
      <if test="pycode != null" >
        pycode,
      </if>
      <if test="property != null" >
        property,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="isstop != null" >
        isStop,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="suppercode != null" >
        #{suppercode,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="pycode != null" >
        #{pycode,jdbcType=VARCHAR},
      </if>
      <if test="property != null" >
        #{property,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isstop != null" >
        #{isstop,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="org.java.ssm.entity.SysDept" >
    update sys_dept
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="suppercode != null" >
        suppercode = #{suppercode,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="pycode != null" >
        pycode = #{pycode,jdbcType=VARCHAR},
      </if>
      <if test="property != null" >
        property = #{property,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isstop != null" >
        isStop = #{isstop,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.java.ssm.entity.SysDept" >
    update sys_dept
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      suppercode = #{suppercode,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=INTEGER},
      pycode = #{pycode,jdbcType=VARCHAR},
      property = #{property,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      isStop = #{isstop,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>